<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <title>Notes</title>
    <style>
        .card{
            margin:auto;
            vertical-align: baseline;
            margin-top: 2rem;
        }
        h6{
            text-align: center;
        }

        h4{
            text-align: center;
            margin-top: 10px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="{{url_for('index')}}"><h1 class="navbar-brand">Notes</h1></a></nav>
    
    
    
    
    {% block content %}

    {% endblock %}
</body>
</html>